
header {
    background-image: url(../images/Rectangle\ 37.png);
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 649px;
} 
.container2{
    padding: 0 140px;
}
.header-left{
    margin-top: 150px;
    width: 50%;
    float: left;
}
.header-left h1{
    font-family: 'Source Serif Pro';
    font-style: normal;
font-weight: 600;
font-size: 61px;
}
.header-left h1 span{
    color: red;
}
.header-img{
    position: absolute;
    top: 90px;
    right: 220px;
    height: 450px;
    width: 480px;
    border: 10px solid pink;
}
.next-btn{
    position: absolute;
    right: 150px;
    top: 300px;
    padding: 10px 17px;
    background-color: pink;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.next-btn:hover{
    background-color: red;
    border: 5px dashed blue;
    transition: 1s;
}
.header-bottom{
    border-radius: 5px;
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
}
.ads h5{
    display: inline-block;
    padding: 5px 5px;
}
.ads p{
    opacity: 0.7;
}
.header-bottom hr{
    background-color:  #EE5514;
    width: 2px;
}
.btn-buy{
    height: 45px !important;
    margin-top: 25px !important;
}
/* foooter section */
footer{
    margin-top: 50px;
    background-color:  rgb(204, 177, 182);
    height: 370px;
}
.footer-1{
    display: inline-block;
}
.footer-infos{
    padding-top: 80px;
    display: flex;
    gap: 130px;
}
.footer-img{
    display: flex;
}
.footer-1 p{
    padding: 17px 0;
}
.footer-1 a{
     text-decoration: none;
     color: black;
}
.footer-1-icons{
    display: flex;
    justify-content: space-evenly;
}
.footer-1-icons i{
    color: #EE5514;
}
.footer-2 h6{
    padding-bottom: 15px;
}
.footer-2 a{
    text-decoration: none;
    display: block;
    padding: 7px 0;
    color: black;
}
.foooter-btn{
    padding: 30px 0;
    display: flex;
}
.foooter-btn input{
    width: 150px;
    height: 44px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
}
.foooter-btn button{
    width: 100px;
    background-color: #EE5514;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.footer-hr{
    display: inline-block;
    margin-top: 20px;
    background-color: rgb(0, 0, 0); 
    width: 100%;
    height: 2px;
    opacity: 0.2;
}
.footer-end{
    padding: 20px;
    text-align: center;
}