/* feature styles */
.feature-section {
    text-align: center;
}

.feature-section_card {
    /* position: absolute; */
    display: inline-block;
    width: 360px;
    height: 423px;
    padding: 50px;
    left: 230px;
    background: #FFFFFF;
    box-shadow: 0px 1px 30px rgba(26, 10, 3, 0.05);
    border-radius: 10px;
}

/* testimonials styles */
.testimonials-section {
    text-align: center;
   }

.testimonials-section_img {
   display: flex;
   padding: 20px;
}

.testimonials-section_card {
    position: absolute;
    width: 1000px;
    height: 581px;
    left: 530px;
    top: 593px;
   
}

/* puma styles */
.puma-section_card {
    position: absolute;
    width: 526px;
    height: 208px;
    left: 781px;
   
} 